.execContainer {
  margin-top: 166px;
}

.exec2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowsContainer {
  position: relative;
  top: 102px;
}

.executive-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 88px; /* add "px" unit */
  margin-bottom: 55px; /* add "px" unit */
}

.executive-member {
  text-align: center;
  margin-bottom: 0; /* remove default margin */
  flex-basis: calc(16.666% - 330px);
  box-sizing: border-box;
}

.executive-member h2 {
  font-family: 'General Sans';
  flex-basis: calc(16.666% - 330px);
  text-align: center;
  margin-bottom: 5px;
  font-size: 23px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.executive-member p {
  font-family: 'General Sans';
  font-style: normal;
  flex-basis: calc(16.666% - 330px);
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

.executive-member img {
  flex-basis: calc(16.666% - 330px);
  width: 200px;
  height: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
