@font-face {
  font-family: 'Argent';
  src: url('../fonts/argentcf-regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
font-family: 'GeneralSans-Variable';
src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
      url('../fonts/GeneralSans-Variable.woff') format('woff'),
      url('../fonts/GeneralSans-Variable.ttf') format('truetype');
      font-weight: 200 700;
      font-display: swap;
      font-style: normal;
}

.execContainer {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  margin-top: 166px;
  margin-bottom: 10%
}

.exec2Container {
  display: flex;
  flex-direction: column;
  /* overflow-y: auto; */
  align-items: center;
}

.rowsContainer {
  position: relative;
  top: 102px;
}

.executive-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 88px; /* add "px" unit */
  margin-bottom: 55px; /* add "px" unit */
}

.executive-member {
  text-align: center;
  margin-bottom: 0; /* remove default margin */
  flex-basis: calc(16.666% - 330px);
  box-sizing: border-box;
}

.executive-member h2 {
  font-family: GeneralSans-Variable;
  flex-basis: calc(16.666% - 330px);
  text-align: center;
  margin-bottom: 5px;
  font-size: 23px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.executive-member p {
  font-family: GeneralSans-Variable;
  font-style: normal;
  flex-basis: calc(16.666% - 330px);
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

.executive-member img {
  flex-basis: calc(16.666% - 330px);
  object-fit: cover;
  width: 200px;
  height: 200px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

