@font-face {
    font-family: 'Argent';
    src: url('../fonts/argentcf-regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
font-family: 'GeneralSans-Variable';
src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
        url('../fonts/GeneralSans-Variable.woff') format('woff'),
        url('../fonts/GeneralSans-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
}

.footerBtn{
    width: 120px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: black;
    float: right;
}

.footer{
    position: absolute;
    height: 337px;
    left: 0%;
    right: 0%;
    top: 3937px; /*Changed this to fit to figma and with flipcards, don't know if it's correct*/

    /* Water */
    background: #F6F8FD;
}

.footer_left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_text-wrapper{
    /* Get in touch:contact@b4pglobal.org */

    position: absolute;
    height: 39px;
    left: 8.89%;
    right: 80.69%;
    bottom: 217px;

    font-family: GeneralSans-Variable;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 90.02%;
    /* or 13px */

    color: #000000;
}
  
  
.footer_text{
    font-family: GeneralSans-Variable;
    margin-bottom: 0px;
    font-size: 12px;
    color: black;
}

.footer_line {
    position: absolute;
    height: 5.96px;
    left: 0%;
    right: 0%;
    bottom: -0.02px;

    /* Blue Ribbon */
    background: #0568FD;
}
  
.footer_social_wrapper{
    position: absolute;
    left: 8.7%;
    right: 29.17%;
    top: 55%;
    bottom: 8.33%;

    /* border: 1.5px solid #000000; */

}
  
.footer_social{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
  
.footer_logo{
    
    position: absolute;
    height: 93px;
    left: 72.36%;
    right: 5.76%;
    bottom: 150px;

}

.footer__bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 5px;
}

.footer__bottom p {
    margin: 2;
    line-height: .5;
    font-size: 12px;
    color: silver;
  }


  
  