@font-face {
    font-family: 'Argent';
    src: url('../fonts/argentcf-regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
font-family: 'GeneralSans-Variable';
src: url('../fonts/GeneralSans-Variable.woff2') format('woff2'),
        url('../fonts/GeneralSans-Variable.woff') format('woff'),
        url('../fonts/GeneralSans-Variable.ttf') format('truetype');
        font-weight: 200 700;
        font-display: swap;
        font-style: normal;
}

.headerBtn{
    font-family: GeneralSans-Variable;
    width: 120px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: black;
    float: right;
  }

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 491px;
    height: 23px;
    left: 895px;
    top: 19px;
    white-space: nowrap;

    opacity: 0.3;
}

.headerImg{
    position: absolute;
    width: 213.26px;
    height: 63px;
    left: 50px;
    top: 19px;
    object-fit: contain;
}
