.headerBtn{
    width: 120px;
    height: 30px;
    border-color: transparent;
    background-color: transparent;
    color: black;
    float: right;
  }

.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 491px;
    height: 23px;
    left: 895px;
    top: 19px;
    white-space: nowrap;

    opacity: 0.3;
}

.headerImg{
    position: absolute;
    width: 213.26px;
    height: 63px;
    left: 50px;
    top: 19px;
    object-fit: contain;
}
