.primaryButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 54px;
    gap: 10px;

    position: absolute;
    width: 177px;
    height: 55px;
    left: 157px;
    top: 299px;

    /* Blue Ribbon */

    background: #0568FD;
    border-radius: 3px;
    border: 1px solid #0568FD;
    
    font-family: GeneralSans-Variable;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    /* Pure White */

    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}